<!-- 底部 -->
	<div class="footer">
		<div class="footer_container">
			<div class="footer_left">
				<ul>
					<li>
						<a href="javacript:void(0)">
							<i class="ltd-icon gs-gongsi"></i>
							版权所有：{pboot:companyname}
						</a>
					</li>
					<li>
						<a href="javacript:void(0)">
							<i class="ltd-icon gs-dizhi"></i>
							地址：{pboot:companyaddress}
						</a>
					</li>
					<li>
						<a href="javacript:void(0)">
							<i class="ltd-icon gs-dianhua"></i>
							电话：{pboot:companyphone}
						</a>
					</li>
					<li>
						<a href="javacript:void(0)">
							<i class="ltd-icon gs-youxiang"></i>
							邮箱：{pboot:companyemail}
						</a>
					</li>
				</ul>
			</div>
			<div class="footer_right">
				<p style="color: #aaa;font-size: 14px;padding: 12px 20px;">官方媒体：</p>
				<div class="footer_ewm_box_wrappe">
					<div class="footer_ewm_box">
						<img src="{pboot:companyweixin}">
						<p style="text-align: center;color: #aaa;font-size: 14px;">微信二维码</p>
					</div>
					<div class="footer_ewm_box">
						<img src="{label:bottom_pic1}">
						<p style="text-align: center;color: #aaa;font-size: 14px;">{label:bottom_1}
						</p>
					</div>
					<div class="footer_ewm_box">
						<img src="{label:bottom_pic2}">
						<p style="text-align: center;color: #aaa;font-size: 14px;">{label:bottom_2}
						</p>
					</div>
					<div class="footer_ewm_box">
						<img src="{label:bottom_pic3}">
						<p style="text-align: center;color: #aaa;font-size: 14px;">{label:bottom_3}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 备案 -->
	<p style="text-align: center;color: rgb(152, 152, 152);font-weight: 400;padding: 20px 0;"><a
			href="https://beian.miit.gov.cn/">{pboot:siteicp}</a></p>
	<!-- 联系 -->
	<div class="index_lx">
		<a href="{label:index_lx}
">
			<img src="{pboot:sitetplpath}/img/sdk_res_kefu_custom_5.png">
		</a>
	</div>
	</body>
	</html>
