<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="keywords" content="{pboot:pagekeywords} ">
		<meta name="description" content="{pboot:pagedescription} ">
		<title>{pboot:pagetitle}</title>
		{pboot:sitestatistical}
		<link rel="stylesheet" href="{pboot:sitetplpath}/css/reset.css">
		<link rel="stylesheet" href="{pboot:sitetplpath}/css/icon.css" />
		<link rel="stylesheet" href="{pboot:sitetplpath}/css/main.css" />
		<link rel="stylesheet" href="{pboot:sitetplpath}/css/sjheadpublic.css">
		<link rel="stylesheet" href="{pboot:sitetplpath}/css/style.css">
		<link rel="stylesheet" href="{pboot:sitetplpath}/css/swiper.min.css">
		<!-- <link rel="stylesheet" href="http://at.alicdn.com/t/font_1111066_v0xppbwt5p.css"> -->
		<script src="{pboot:sitetplpath}/js/jquery.min.js"></script>
		<script src="{pboot:sitetplpath}/js/swiper.min.js"></script>
		<script src="{pboot:sitetplpath}/js/sjheadpublic.js"></script>

	</head>
	<body>
		<!-- 头部导航 -->
		<div class="header_wrapper">
			<div class="header p_rel">
				<div class="header_content hd_bottom">
					<h1 class="pc_logo">
						<a href="{pboot:sitedomain}">
							<div><img src="{pboot:sitelogo}"></div>
						</a>
					</h1>
					<div class="naim_nav">
						<ul>
							<li>
								<a href="{pboot:sitedomain}">首页</a>
							</li>

							{pboot:nav}
							<li>
								<a href="[nav:link]">[nav:name]</a>
							</li>
							{/pboot:nav}

							<!-- <li>
							<a href="">关于奈雪</a>
						</li>
						<li>
							<a href="">产品介绍</a>
						</li>
						<li>
							<a href="">品牌跨界</a>
						</li>
						<li>
							<a href="">空间展示</a>
						</li>
						<li>
							<a href="">联系我们</a>
						</li> -->
						</ul>
						<!-- <div class="hjlanguage">
							<div class="firstlan">ENGLISH</div>
							<div class="firstlan">日本語</div>
					</div> -->
					</div>
				</div>
			</div>
		</div>
		<!-- 手机导航 -->
		<div class="m_header">
			<div class="sp_header">
				<div class="sp_logo">
					<a href="{pboot:sitedomain}"><img src="{pboot:sitelogo}"></a>
				</div>
				<div class="sp_nav"><span></span> <span></span> <span></span> </div>
			</div>
			<div class="sjj_nav">
				<ul>
					<li>
						<a href="/">首页</a>
					</li>

					{pboot:nav}
					<li>
						<a href="[nav:link]">[nav:name]</a>
					</li>
					{/pboot:nav}

					<!-- <li>
					<a href="">关于奈雪</a>
				</li>
				<li>
					<a href="">产品介绍</a>
				</li>
				<li>
					<a href="">品牌跨界</a>
				</li>
				<li>
					<a href="">空间展示</a>
				</li>
				<li>
					<a href="">联系我们</a>
				</li> -->
				</ul>
			</div>
		</div>
